*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(to  right,#f0505f,cyan);
    height: 100vh;
    display: flex;
    flex-direction: row;
   
}
.content{
    height: 85vh;
    width: 30vw;
    background-color: black;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}
img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.img{
    margin-top: 50px;
}
h2{
    font-size: 30px;
     color: rgb(243, 54, 243);
}
h3{
    color: white;
}
.content2{
    height: 85vh;
    width: 60vw;
    background-color: black;
    margin-top: 40px;
    margin-left: 45px;
    border-radius: 25px;
    color: white;
}
h1{
    margin-top:30px ;
    margin-left: 265px;
    font-size: 30px;
    color: rgb(243, 54, 243);
}
.div2{
    margin-top: 30px;
}
.div3{
    margin-top: 15px;
}
span{
    display: inline-block;
}
.pro{
    display: flex;
    line-height: 45px;
    font-size: larger;
    margin-left: 150px;
    margin-top: 50px;
}
.two{
    margin-left: 45px;
}
i{
    color: red;
    margin-top:35px;
}
.robo{
    margin-left: 200px;
    margin-top:35px;
    font-size: larger;
}

@media  screen and (max-width:880px) {
    
        .container{
            flex-direction: column;
            height: auto;
            align-items: center;
        }
        .content2{
            margin-bottom: 40px;
            height: auto;
        }
        h1{
            margin-left: 160px;
        }
        .pro{
            margin-left: 30px;
        }
        .robo{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    
    }
    @media screen and (max-width:655px){
        h1{
            margin-left: 80px;
        }
        .pro{
            margin-left: 10px;
        }
        
    }
    @media screen and (max-width:648px){
        h2{
            font-size: 25px;
             color: rgb(243, 54, 243);
        }
    }
    @media screen and (max-width:606px){
       .pro{
        font-size: 3vw;
       }
       img{
        height: 25vh;
        width: 30vw;
       }
       .robo{
        margin-left: 5px;
        margin-bottom: 20px;
    }
     h1{
        margin-left: 50px;
      }
    }
    @media screen and (max-width:455px) {
    .two{
        margin-left: 2vw;
    }

    }